@font-face {
  font-family: 'Muller';
  src: url('../fonts/MullerRegular.woff2') format('woff2'),
    url('../fonts/MullerRegular.woff') format('woff');
  font-weight: 400;
}

@font-face {
  font-family: 'Muller';
  src: url('../fonts/MullerMedium.woff2') format('woff2'),
    url('../fonts/MullerMedium.woff') format('woff');
  font-weight: 500;
}

@font-face {
  font-family: 'Muller';
  src: url('../fonts/MullerBold.woff2') format('woff2'),
    url('../fonts/MullerBold.woff') format('woff');
  font-weight: 700;
}

:root {
  font-family: 'Muller', sans-serif;
}


body {
  background: #E5E5E5;
}

ul,
li,
a {
  list-style: none;
  text-decoration: none;
  margin: 0;
  padding: 0;
  color: inherit;
}

h1,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

h2 {
  padding-left: 40px;
  margin-bottom: 20px;
}

.mr-40 {
  margin-right: 33px;
}

.ml-2 {
  margin-left: 4px;
}

.container {
  max-width: 1170px;
  padding: 0 20px;
  margin: 0 auto;
}

.header {
  margin-bottom: 70px;
}

.header-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__top {
  padding: 30px 0;
}

.header__top__logo {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.header__top__logo__link {
  margin-right: 20px;
}

.tel__top {
  margin: 0;
  margin-left: 21px;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 20px;
  color: #666666;
}

.header__top__lk__link {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  color: #CC9933;

}

.header__top__lk__img {
  margin-right: 5px;
}

.header__bottom {
  margin-top: -7px;
  padding: 14px 45px;
  background-color: #FFFFFF;
  border-radius: 15px;
}

.header__bottom__nav__list {
  display: flex;
  flex-direction: row;

}

.header__bottom__nav__list__item:not(:last-child) {
  margin-right: 45px;
}

.header__bottom__nav__list__item__link {
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  color: #666666;
}

.header__bottom__blockbtn__btn {
  padding: 13px 20px;
  border: 1px solid #CC9933;
  border-radius: 10px;
  background-color: transparent;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  color: #CC9933;
}

.hero {
  margin-bottom: 65px;
}

.hero__title {
  font-weight: 400;
  font-size: 40px;
  line-height: 40px;
  color: #333333;
}

.hero__block {
  display: flex;
  flex-direction: row;
}

.hero__block__left {
  margin-right: 24px;
}

.hero__block__left__card-top,
.hero__block__left__card-bottom {
  position: relative;
  padding: 40px 108px 40px 45px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background: linear-gradient(90deg, rgba(48, 64, 89, 0.84) -2.9%, rgba(53, 65, 83, 0) 65.7%);
  border-radius: 15px;
  z-index: 20;
}

.darken:after {
  position: absolute;
  content: "";
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  border-radius: 15px;
  background: linear-gradient(90deg, rgba(48, 64, 89, 0.84) 0%, rgba(53, 65, 83, 0.00) 66.67%);
}

.card-top__img {
  z-index: 1;
  background-image: url('../img/mald.png');
}

.card-bottom__img {
  z-index: 1;
  background-image: url('../img/krit.png');
}

.hero__block__left {
  max-width: 573px;
}

.hero__block__left__card-top {
  margin-bottom: 24px;
}

.hero__block__left__card-top__title,
.hero__block__left__card-bottom__title {
  position: relative;
  margin-bottom: 16px;
  font-weight: 700;
  font-size: 40px;
  line-height: 40px;
  color: #FFFFFF;
  z-index: 99;
}

.hero__block__left__card-top__descr,
.hero__block__left__card-bottom__descr {
  position: relative;
  margin-bottom: 47px;
  font-weight: 400;
  font-size: 20px;
  line-height: 20px;
  color: #FFFFFF;
  opacity: 0.6;
  z-index: 99;
}

.hero__block__card__link,
.hero__block__left__card-top__link,
.hero__block__left__card-bottom__link {
  position: relative;
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-end;
  align-content: center;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  color: #F0BF5F;
  z-index: 99;
}


.hero__block__card__title {
  display: inline-block;
  width: 300px;
  margin-top: 31px;
  margin-bottom: 15px;
  font-weight: 700;
  font-size: 60px;
  line-height: 60px;
  color: #FFFFFF;
  padding-top: 183px;
}

.hero__block__card__descr {
  margin-bottom: 47px;
  font-weight: 400;
  font-size: 30px;
  line-height: 30px;
  color: #FFFFFF;
  opacity: 0.8;
}

.hero__block__right {
  max-width: 573px;
  width: 100%;
}

.hero__block__right__card {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 0px 106px 0px 45px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 15px;
}

.card-right__img {
  background-image: url('../img/33\ 1.png');
}

.text {
  margin-bottom: 70px;
  width: 888px;
  height: 252px;
}

.text__block {
  width: 888px;
  height: 192px;
  font-family: Muller;
  font-size: 16px;
  font-weight: 400;
  line-height: 32px;
  letter-spacing: 0em;
  text-align: left;
}

.desc {
  width: 1170px;
  height: 744px;
}

.desc__block__left__top {
  width: 573px;
  height: 330px;
  border-radius: 15px 15px 0px 0px;
  background-color: #FFFFFF;
}

.desc__block__left__top__link {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: start;
  margin-left: 20px;
}

.desc__block__left__top__link__item {
  margin-right: 4px;
  font-size: 20px;
  color: #CC9933;
}

.desc__block__left__top__img {
  display: block;
  flex-direction: column;
  justify-self: flex-start;
  justify-content: center;
  justify-items: center;
  border-radius: 15px 15px 0px 0px;
  width: 573px;
  height: 165px;
}

.desc__block__left__top__descr {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: baseline;
  width: 402px;
  height: 104px;
  margin-top: 39px;
  margin-left: 26px;
}

.desc__block__left__top__link__img {
  margin-top: 26px;
}

.desc__block__left__top__text {
  font-family: Muller;
  font-size: 16px;
  font-weight: 400;
  line-height: 44px;
  letter-spacing: 0em;
  text-align: left;
}

.desc__block__right__bottom {
  width: 573px;
  height: 330px;
  border-radius: 15px 15px 0px 0px;
  background-color: #FFFFFF;
}

.desc__block__right__bottom__img {
  display: block;
  flex-direction: column;
  justify-self: flex-start;
  justify-content: center;
  justify-items: center;
  border-radius: 15px 15px 0px 0px;
  width: 573px;
  height: 165px;
}

.desc__block__right__bottom__link__img {
  margin-top: 26px;
}

.desc__block__right__bottom__text {
  font-family: Muller;
  font-size: 16px;
  font-weight: 400;
  line-height: 32px;
  letter-spacing: 0em;
  text-align: left;
}

.desc__block__right__bottom__link__item {
  margin-right: 4px;
  font-size: 20px;
  color: #CC9933;
}

.desc__block__right__bottom__link {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: start;
}
